<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h3>Chatbot</h3>
    <div class="chat-sidebar">
      <div class="messages">
        <div *ngFor="let msg of messages" [ngClass]="msg.role">
          {{ msg.text }}
        </div>
      </div>
      <form class="chat-input-row" (ngSubmit)="sendMessage()">
        <mat-form-field class="chat-input" appearance="outline">
          <input matInput [(ngModel)]="inputMessage" name="inputMessage" placeholder="Type your message..."
                 autocomplete="off"/>
        </mat-form-field>
        <button mat-icon-button color="primary" type="submit" [disabled]="!inputMessage.trim()">
          <mat-icon>send</mat-icon>
        </button>
      </form>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-raised-button (click)="drawer.toggle()">
      Open your learning assistant
    </button>
    <h2 class="main-menu-title">Welcome to your AI-Learning experience!</h2>
    <div class="main-menu-bottom">
    </div>
    <button mat-stroked-button color="primary" class="logout-btn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
    <div *ngIf="isComplete">
      Your Score: {{ correctAnswers }} / {{ correctAnswers + incorrectAnswers }}<br>
    </div>
  </div>
  <div class="learning-path-spinner" *ngIf="!isLearningPathGenerated">
    <mat-spinner mode="indeterminate"></mat-spinner>
    <p class="learning-path-message">Learning path is being generated. Please wait ...</p>
  </div>
  <div *ngIf="isLearningPathGenerated && steps.length > 0">
    @if (currentQuestionType == "multiple_choice") {
      <app-multiple-choice *ngIf="multipleChoiceQuestionIndex < multipleChoiceQuestions.length"
                           [question]="multipleChoiceQuestions[multipleChoiceQuestionIndex]"
                           (questionSubmitted)="nextMultipleChoiceQuestion($event)"></app-multiple-choice>
    } @else if (currentQuestionType == "vocab") {
      <app-learn-vocab *ngIf="vocabQuestionIndex < vocabQuestions.length"
                       [question]="vocabQuestions[vocabQuestionIndex]"
                       (questionSubmitted)="nextVocabQuestion($event)"></app-learn-vocab>
    } @else {
      <app-conversation></app-conversation>
    }
  </div>
</mat-drawer-container>
